<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Matching | playTGT - Contact Us</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
	.container {
		width: 600px;
		/*height: auto;*/
		border-radius: 5px;
		background-color: #AEB6BF;
		padding: 20px;
	}

	.modalContainer {
			padding: 16px;
		}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 40%;
	}
</style>
</head>
<header>
	<p style="padding: 10px 0px 0px 20px">PlayTGT Game Matching</p>
	<img src="{{ url_for('static', filename='banner.jpg') }}" alt="banner" height="100" width="100%">
</header>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    	<div class = "col-sm-10" style="padding-left:0">
	      	<ul class="navbar-nav">
	        	<li class="nav-item">
	          		<a class="nav-link" href="{{ url_for('home') }}">Home</a>
	        	</li>
	        	<li class="nav-item">
	          		<a class="nav-link" href="{{ url_for('games') }}">Games</a>
	       		</li>
	        	<!-- About Us Dropdown -->
	        	<li class="nav-item dropdown">
	          		<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About Us</a>
	          		<div class="dropdown-menu">
	            		<a class="dropdown-item" href="{{ url_for('our_story') }}">Our Story</a>
	            		<a class="dropdown-item" href="{{ url_for('contact_us') }}">Contact Us</a>
	          		</div>
	        	</li>
	        </ul>
	    </div>
        <!-- Login button -->
		<button id="loginButton" class="login" onclick="document.getElementById('login').style.display='block'" style="width: auto;border-radius: 50px;padding: 5px 18px;background-color: #117A65; display:none;">Login
		</button>
		<!-- member button -->
	    <a href="{{ url_for('member') }}">
		<button id="memberButton" class="login" style="border-radius: 50px;background-color: transparent; width:auto; display:none;"><img src="{{ url_for('static', filename='icon4.png') }}"></button>
		</a>
		<!-- logout button -->
		<form action="/logout">
			<input id="logoutButton" type="submit" class="login" value="Logout" style="width: auto;border-radius: 50px;padding: 5px 18px;background-color: #117A65; display:none;">
		</form>
    </div> <!-- end of Links -->
</nav>
<!-- Login modal -->
<div id="login" class="modal" style="overflow:auto">
	<form id="loginForm" class="modal-content animate" action="/login" method="post">
		<div class="imgcontainer">
		<!-- Close button(x) -->
			<span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
			<!-- Avatar -->
			<img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" class="avatar">
		</div>
    	<div class="modalContainer">
			<label style="color: black" for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username/Email" name="uname" id="uname" required>
			<label style="color: black" for="pw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pw" id="pw" required>
			<!-- Login button -->  
			<div style="text-align: center">
				<input class="login" type="submit" style="border-radius: 9px;padding: 10px 20px;background-color: #117A65;" value="Login">
			</div>	
		</div>
	    <!-- Forgot password & Create AC -->
	    <div class="modalContainer" style="background-color:#f1f1f1">
	    	<div style="color: black">Don't have an account? <a href="{{ url_for('createAC') }}">Create here</a></div>
	    	<span class="psw"><a href="{{ url_for('forgotPW') }}">Forgot password?</a></span>
	    </div>
  	</form>
</div> <!-- end of Login Modal -->

<body>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert" >
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{message}}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<h5 style="padding:40px; text-align: center">Contact Us</h5>

<div class="container">
  <form id="contact_usForm" action="/about/contact_us/submit" method="post">
    <label id="playerNameLabel" for="playerName" style="display:none;">Name</label>
    <input style="width:300px;display:none;" type="text" id="playerName" name="playerName" value="" maxlength="30" placeholder="e.g. Choco Lau" onkeypress="return nameKeyBlock(event)" required disabled>

    <label id="emailLabel" for="email" style="display:none;">Email</label>
    <input style="width:350px;display:none;" type="email" id="email" name="email" maxlength="40" placeholder="e.g. ABC@email.com" required disabled>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px" required></textarea>

    <input style="margin-top:10px; margin-left: 5px" type="submit" value="Submit">

  </form>
</div>
</body>
<footer>
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">@ 2021 Copyright: playTGT</div>
</footer>
<script>
	// get login modal
	var modal = document.getElementById('login');
	// when player clicks anywhere outside of login modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	};

	// show and hide buttons
	window.onload = function() {
		var loginSuccess = JSON.parse('{{ loginSuccess | tojson }}')
		
		if (loginSuccess == "true") {
			document.getElementById("loginButton").style.display="none";
			document.getElementById("memberButton").style.display="block";
			document.getElementById("logoutButton").style.display="block";
		} else if (loginSuccess == "false"){
			document.getElementById("loginButton").style.display="block";
			document.getElementById("memberButton").style.display="none";
			document.getElementById("logoutButton").style.display="none";
			document.getElementById("playerNameLabel").style.display="block";
			document.getElementById("playerName").style.display="block";
			document.getElementById("playerName").disabled = false;
			document.getElementById("emailLabel").style.display="block";
			document.getElementById("email").style.display="block";
			document.getElementById("email").disabled = false;
		}
	}

	//key block for name
	function nameKeyBlock(e){
	    var k;
	    document.all ? k = e.keyCode : k = e.which;
	    return ((k > 64 && k < 91) || (k > 96 && k < 123) || (k > 0 && k < 33));
	    }
	//check valid confirm password
	$('#contact_usForm').submit(function() {
		if (confirm('Do you want to submit?')) {
			//trim name if there's space before or after it, or double space
			playerName.value = playerName.value.trim().replace(/  +/g, ' ');
			return true;
		}
		else {
			return false;
		}
	})
</script>
</html>