<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Matching | playTGT - Games</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
		.container {
			padding: 16px;
		}

		/* Modal Content/Box */
		.modal-content {
			background-color: #fefefe;
			margin: 5% auto 15% auto;
			border: 1px solid #888;
			width: 40%;
		}

		tr:hover td {
			background:#2E4053;
		}

		a.game_link:link {
			color: #D6DBDF;
			background-color: transparent;
			text-decoration: none;
		}

		a.game_link:visited {
			color: #D6DBDF;
			background-color: transparent;
			text-decoration: none;
		}

		a.game_link:hover {
			color: #D6DBDF;
			background-color: transparent;
			text-decoration: underline;
		}

		img.game_icon {
			width: 200px
		}
	</style>
</head>

<header>
	<p style="padding: 10px 0px 0px 20px">PlayTGT Game Matching</p>
	<img src="{{ url_for('static', filename='banner.jpg') }}" alt="banner" height="100" width="100%">
</header>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    	<span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    	<div class = "col-sm-10" style="padding-left:0">
	      	<ul class="navbar-nav">
	        	<li class="nav-item">
	          		<a class="nav-link" href="{{ url_for('home') }}">Home</a>
	        	</li>
	        	<li class="nav-item">
	          		<a class="nav-link" href="{{ url_for('games') }}">Games</a>
	       		</li>
	        	<!-- About Us Dropdown -->
	        	<li class="nav-item dropdown">
	          		<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About Us</a>
	          		<div class="dropdown-menu">
	            		<a class="dropdown-item" href="{{ url_for('our_story') }}">Our Story</a>
	            		<a class="dropdown-item" href="{{ url_for('contact_us') }}">Contact Us</a>
	          		</div>
	        	</li>
	        </ul>
	    </div>
        <!-- Login button -->
		<button id="loginButton" class="login" onclick="document.getElementById('login').style.display='block'" style="width: auto;border-radius: 50px;padding: 5px 18px;background-color: #117A65; display:none;">Login
		</button>
		<!-- member button -->
	    <a href="{{ url_for('member') }}">
		<button id="memberButton" class="login" style="border-radius: 50px;background-color: transparent; width:auto; display:none;"><img src="{{ url_for('static', filename='icon4.png') }}"></button>
		</a>
		<!-- logout button -->
		<form action="/logout">
			<input id="logoutButton" type="submit" class="login" value="Logout" style="width: auto;border-radius: 50px;padding: 5px 18px;background-color: #117A65; display:none;">
		</form>
    </div> <!-- end of Links -->
</nav>
<!-- Login modal -->
<div id="login" class="modal" style="overflow:auto">
	<form id="loginForm" class="modal-content animate" action="/login" method="post">
		<div class="imgcontainer">
		<!-- Close button(x) -->
			<span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
			<!-- Avatar -->
			<img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" class="avatar">
		</div>
    	<div class="container">
			<label style="color: black" for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username/Email" name="uname" id="uname" required>
			<label style="color: black" for="pw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pw" id="pw" required>
			<!-- Login button -->  
			<div style="text-align: center">
				<input class="login" type="submit" style="border-radius: 9px;padding: 10px 20px;background-color: #117A65;" value="Login">
			</div>	
		</div>
	    <!-- Forgot password & Create AC -->
	    <div class="container" style="background-color:#f1f1f1">
	    	<div style="color: black">Don't have an account? <a href="{{ url_for('createAC') }}">Create here</a></div>
	    	<span class="psw"><a href="{{ url_for('forgotPW') }}">Forgot password?</a></span>
	    </div>
  	</form>
</div> <!-- end of Login Modal -->

<body>
	<!-- flash messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible" role="alert" >
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- game table -->
	<table style="margin:10px auto 0px auto; width:95%; text-align:center">
		<tr>
			<th>Game id</th>
			<th>Name</th>
		</tr>
		<tr class="app appimg">
			<td>
				1
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/1172470/Apex/">
				<img class="game_icon" src="/static/Apex.png">
				<p>Apex</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/602960/Barotrauma/">
				<img class="game_icon" src="/static/Barotrauma.png">
				<p>Barotrauma</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">
				<img class="game_icon" src="/static/CSGO.png">
				<p>Counter-Strike: Global Offensive</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/381210/Dead_by_Daylight/">
				<img class="game_icon" src="/static/DeadbyDaylight.png">
				<p>Dead by Daylight</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				5
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/322330/Dont_Starve_Together/">
				<img class="game_icon" src="/static/DST.png">
				<p>Don't Starve Together</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				6
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://playoverwatch.com/zh-tw/">
				<img class="game_icon" src="/static/Overwatch.png">
				<p>Overwatch</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/578080/PLAYERUNKNOWNS_BATTLEGROUNDS/">
				<img class="game_icon" src="/static/PUBG.png">
				<p>PLAYERUNKNOWN'S BATTLEGROUNDS</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				8
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/648800/Raft/">
				<img class="game_icon" src="/static/Raft.png">
				<p>Raft</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				9
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/105600/Terraria/">
				<img class="game_icon" src="/static/Terraria.png">
				<p>Terraria</p>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				<a class="game_link" target="_blank" href="https://store.steampowered.com/app/359550/Tom_Clancys_Rainbow_Six_Siege/">
				<img class="game_icon" src="/static/R6.png">
				<p>Tom Clancy's Rainbow Six® Siege</p>
				</a>
			</td>
		</tr>
	</table> <!-- end of room table -->
</body>
<footer>
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">@ 2021 Copyright: playTGT</div>
</footer>{{loginSuccess}}
<script>
	// get login modal
	var modal = document.getElementById('login');
	// when player clicks anywhere outside of login modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	};

	// show and hide buttons
	window.onload = function() {
		var loginSuccess = JSON.parse('{{ loginSuccess | tojson }}')
		
		if (loginSuccess == "true") {
			document.getElementById("loginButton").style.display="none";
			document.getElementById("memberButton").style.display="block";
			document.getElementById("logoutButton").style.display="block";
		} else if (loginSuccess == "false"){
			document.getElementById("loginButton").style.display="block";
			document.getElementById("memberButton").style.display="none";
			document.getElementById("logoutButton").style.display="none";
		}
	}
</script>
</html>